@use 'src/styles/variables';

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  min-height: 150px;
  min-width: 200px;
  margin: 15px;
  background: white;
  border: transparent;
  border-radius: 15px;
  box-shadow: 0 0 1em rgb(204, 204, 204);
  transition: all 0.2s ease-in-out;
}

.box:hover {
  box-shadow: 0 0 1em rgb(170, 170, 170);
}

@media screen and (max-width: 767.98px) {
}
