$color-bluegrey: rgb(224, 235, 255);
$color-lightblue: rgb(19, 106, 253);
$color-darkblue: rgb(6, 35, 84);
$color-lightgrey: rgb(244, 244, 244);
$color-lightgrey-box-border: rgb(240, 240, 240);
$color-lightgrey-box-shadow: rgb(225, 225, 225);
$color-grey: rgb(230, 230, 230);
$color-yellow: rgb(255, 192, 7);

$background-color-main: $color-lightgrey;
