$color-lightblue: rgb(19, 106, 253);
$color-blue: rgba(9, 9, 121, 1);
$color-darkblue: rgba(2, 0, 36, 1);
$color-lightgrey: rgb(244, 244, 244);
$color-grey: rgb(230, 230, 230);
$color-yellow: rgb(255, 192, 7);

$background-color-main: $color-lightgrey;
