$color-lightblue: rgb(13, 110, 253);
$color-blue: rgba(9, 9, 121, 1);
$color-darkblue: rgba(2, 0, 36, 1);
$color-lightgrey: rgb(244, 244, 244);
$color-yellow: rgb(255, 192, 7);

$background-color-main: $color-lightgrey;
