@use 'src/styles/variables';

.rank-index {
  font-weight: bold;
  margin-right: 15px;
  color: variables.$color-darkblue;
}

.rank-name {
  margin-right: 15px;
  color: variables.$color-darkblue;
}

.rank-points {
  font-weight: bold;
}
