@use 'src/styles/variables';

th,
td {
  vertical-align: middle;
}

.user-one-button {
  max-width: 40px;
  margin: 0 15px;
}

@media screen and (max-width: 768px) {
  .user-one-button {
    max-width: 40px;
    margin: 5px;
  }

  tr td:last-child {
    display: flex;
  }
}
