@use 'src/styles/variables';
@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

.App {
  padding-top: 80px;
  text-align: center;
  background: variables.$background-color-main;
}

.container,
.container-fluid {
  padding-right: 3%;
  padding-left: 3%;
}

.app-main {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom: 25px;
}

h3 {
  margin: 30px 0 15px 0;
}

.box {
  min-height: 150px;
  min-width: 200px;
  margin: 15px;
  background: white;
  border: solid 1px rgb(240, 240, 240);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  color: variables.$color-darkblue;
  text-decoration: none;
}

.box:hover {
  box-shadow: 0 0 1em rgb(225, 225, 225);
}

.box-content-column {
  display: flex;
  flex-direction: column;
}

.box-content-row-up {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.box-content-row-down {
  flex: 1;
  padding-top: 7px;
}

.box-element-edit {
  color: variables.$color-lightblue;
  padding: 0 5px;
}

.box-element-delete {
  color: variables.$color-yellow;
  padding: 0 5px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100vw;
    padding-top: 60px;
  }
  .app-main {
    max-width: 100vw;
  }
}
