@use 'src/styles/variables';

.navbar {
  background: variables.$color-lightblue;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: variables.$color-lightgrey;
  letter-spacing: 0.5vw;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.nav-item-flex {
  display: flex;
}

.nav-link {
  color: variables.$color-lightgrey !important;
  position: relative;
  cursor: pointer;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: variables.$color-lightgrey;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-right {
  display: flex;
}

li {
  display: flex;
  align-items: center;
}

li p {
  margin: 0;
}

.nav-role {
  font-size: 1vw;
  text-decoration: none;
  color: variables.$color-lightgrey !important;
  position: relative;
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: 2vh;
  }

  .navbar-nav div {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .navbar-nav div li {
    justify-content: center;
  }

  .nav-role {
    font-size: 2vh;
    display: block;
  }

  .nav-link {
    text-align: center !important;
    display: block;
  }
  .nav-link:hover:after {
    width: 20%;
    left: 40%;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    font-size: 3vh;
  }

  .navbar-nav div {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .navbar-nav div li {
    justify-content: center;
  }

  .nav-role {
    font-size: 3vh;
    display: block;
  }

  .nav-link {
    text-align: center !important;
    display: block;
  }
  .nav-link:hover:after {
    width: 20%;
    left: 40%;
  }
}
