@use 'src/styles/variables';

.new-card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-card-one-button {
  max-width: 40px;
  height: 40px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .app-main {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .new-card-buttons {
    flex-direction: row;
  }

  .new-card-one-button {
    margin: 15px 15px;
  }
}

@media screen and (max-width: 768px) {
  .new-card-buttons {
    flex-direction: row;
  }

  .new-card-one-button {
    margin: 15px 15px;
  }
}
